
body {position: relative; height: 100%;background-color:#ffffff}

.top_side {background:url("steam.design_1b8d3e.png");margin-right:200px;
margin-left:200px; font-family:Verdana;}

h1 {font-size: 50px;color:#ffffff;background-color:gray;display:block;text-align:center}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.hover {color:#ffebc9}

li {
  display: block;
  width: 60px;
}

#asdf {color:blue;text-align:left;width: 100%;}